@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --sans: 'Source Sans Pro', sans-serif;
  --mono: 'Source Code Pro', monospace;
  --size-5: 3.052rem;
  --size-4: 2.441rem;
  --size-3: 1.953rem;
  --size-2: 1.563rem;
  --size-1: 1.25rem;
  --size-0: 1rem;
  --size--1: 0.8rem;

  --red-1: #ffcecc;
  --red-2: #f6a8a5;
  --red-3: #e87a79;
  --red-4: #d54b4d;
  --red-5: #b03135;
  --red-6: #82282c;
  --red-7: #601e22;
  --red-8: #481619;
  --red-9: #381013;
  --red-10: #310c0e;

  --green-1: #e0ffcc;
  --green-2: #a8f084;
  --green-3: #6fd74d;
  --green-4: #43ac34;
  --green-5: #2c7a2d;
  --green-6: #22552b;
  --green-7: #183b24;
  --green-8: #10291d;
  --green-9: #0b1e19;
  --green-10: #081a18;

  --blue-1: #cceeff;
  --blue-2: #9ed6ff;
  --blue-3: #69b3fc;
  --blue-4: #3385f5;
  --blue-5: #1257da;
  --blue-6: #153ba0;
  --blue-7: #142872;
  --blue-8: #111c50;
  --blue-9: #0e143b;
  --blue-10: #0c1131;

  --highlight-1: #fff;
  --highlight-2: #fffa;
  --highlight-3: #fff7;
  --highlight-4: #fff4;
  --highlight-5: #fff2;
  --shadow-1:    #000;
  --shadow-2:    #000a;
  --shadow-3:    #0007;
  --shadow-4:    #0004;
  --shadow-5:    #0002;

  --gray-1: #e4e5e7;
  --gray-2: #a2a5ad;
  --gray-3: #7a7d8b;
  --gray-4: #5f616f;
  --gray-5: #4a4b58;
  --gray-6: #393945;
  --gray-7: #2b2b36;
  --gray-8: #21212a;
  --gray-9: #1a1921;
  --gray-10: #16151c;

  --ease-out: cubic-bezier(0.3, 0.90, 0.5, 1);
  --shadow-color: rgba(0,0,0,0.1);
  --shadow-elevated: 0 1px 1px var(--shadow-color), 0 2px 8px var(--shadow-color);
  --body-background: var(--gray-7);
}
.theme--light {
  --fg-1: #222f;
  --fg-2: #222a;
  --fg-3: #2227;
  --fg-4: #2224;
  --fg-5: #2222;
  --bg-1: #fff;
  --bg-2: #eee;
  --bg-2: #ddd;
  --shadow-beveled: 0 10px 20px -20px var(--highlight-2) inset, 0 0.5px 0.5px var(--highlight-2) inset, 0 1px 0 -0.5px var(--shadow-4) inset, 0 -10px 20px -20px var(--shadow-5) inset;
  --shadow-recessed: 0 10px 20px -20px var(--shadow-4) inset, 0 -0.5px 0.5px var(--highlight-2) inset, 0 1px 0 -0.5px var(--shadow-4) inset, 0 -10px 20px -20px var(--highlight-2) inset;
}
.theme--dark {
  --fg-1: #ffff;
  --fg-2: #fffa;
  --fg-3: #fff7;
  --fg-4: #fff4;
  --fg-5: #fff2;
  --bg-1: #333;
  --bg-2: #2a2a2a;
  --bg-2: #222;
  --shadow-beveled: 0 10px 20px -20px var(--highlight-5) inset, 0 0.5px 0.5px var(--highlight-5) inset, 0 1px 0 -0.5px var(--shadow-3) inset, 0 -10px 20px -20px var(--shadow-4) inset;
  --shadow-recessed: 0 10px 20px -20px var(--shadow-3) inset, 0 -0.5px 0.5px var(--highlight-5) inset, 0 1px 0 -0.5px var(--shadow-3) inset, 0 -10px 20px -20px var(--highlight-5) inset;
}
html {
font-size: 16px;

}
html, body, #root {
  overflow: hidden;
  height: 100%;
  margin: 0;
}
.App {
  font-size: var(--size-0);
}

.App-logo {
  height: 40vmin;
}

select {
  font: inherit;
  font-weight: 700;
  color: inherit;
  line-height: 1.3;
  padding: .5rem 2rem .5rem 1rem;
  max-width: 100%;
  margin: 0;
  border: 0;
  box-shadow:
    var(--shadow-beveled),
    var(--shadow-elevated);
  border-radius: 4px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--body-background);
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 12 12"><polygon fill="gray" points="0,4 6,12 12,4" /></svg>');
  background-repeat: no-repeat, repeat;
  background-position: right 0.7rem top 50%;
  background-size: .5rem auto;
}
select::-ms-expand {
  display: none;
}
select:hover {
  border-color: #888;
}
select:focus {
  border-color: #aaa;
  outline: none;
}
select option {
  font-weight:normal;
}

input[type=text],
input[type=number] {
  color: inherit;
  font: inherit;
  border: 0;
  background: var(--body-background);
  border-radius: 4px;
  line-height: 1rem;
  padding: 0.5rem;
}
